/* Mobile-first styles */
.imageWrapper {
  max-width: 327px;
  width: 100%;
  height: 350px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Tablet styles */
@media (min-width: 768px) {
  .imageWrapper {
    max-width: 450px;
    height: 560px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .imageWrapper {
    max-width: 540px;
    height: 650px;
  }
}
