/* Mobile-first styles */
.nav {
  padding-top: 3rem;
}

.ul {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.link {
  background-color: white;
  transition: 0.3s ease;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  opacity: 15%;
}

.link:hover {
  opacity: 50%;
}

.active {
  opacity: 100%;
}

/* Tablet styles */
@media (min-width: 768px) {
  .nav {
    padding: 3rem;
  }

  .ul {
    gap: 24px;
    justify-content: flex-start;
  }

  .link {
    height: 12px;
    width: 12px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .nav {
    padding-left: 4.5rem;
  }
  .ul {
    gap: 40px;
  }

  .link {
    height: 15px;
    width: 15px;
  }
}
