.details {
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.role {
  font-family: "Bellefair";
  font-size: 32px;
  opacity: 50%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 16px;
}

.name {
  font-family: "Bellefair";
  font-size: 56px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 24px;
}

.bio {
  font-family: "Barlow";
  font-size: 18px;
  line-height: 180%;
  color: #d0d6f9;
  text-align: left;
  width: 520px;
  height: 200px;
}
