.details {
  color: white;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Bellefair";
  font-size: 96px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
}

.description {
  font-family: "Barlow";
  font-size: 18px;
  line-height: 180%;
  color: #d0d6f9;
  margin-bottom: 2rem;
  text-align: start;
  width: 500px;
  height: 120px;
}

.stats {
  display: flex;
  gap: 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 500px;
  padding-top: 2rem;
  text-transform: uppercase;
}

.stats span {
  font-family: "Barlow Condensed";
  font-size: 14px;
  color: #d0d6f9;
  letter-spacing: 15%;
}

.stats p {
  font-family: "Bellefair";
  font-size: 28px;
  margin-top: 12px;
}

.distance {
  width: 200px;
  text-align: start;
}

.travel {
  width: 200px;
  text-align: start;
}
