/* Mobile-first styles */
.nav {
  padding-bottom: 1rem;
}

.ul {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
}

.link {
  transition: 0.3s ease;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
}

.link:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
}

.active,
.active:hover {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  color: #0b0d17;
}

span {
  font-family: "Bellefair";
  font-size: 16px;
}

/* Tablet styles */
@media (min-width: 768px) {
  .link {
    height: 60px;
    width: 60px;
  }

  span {
    font-size: 24px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .ul {
    gap: 32px;
    flex-direction: column;
  }

  .link {
    height: 80px;
    width: 80px;
  }

  span {
    font-size: 32px;
  }
}
