/* Mobile-first styles */
.details {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.term {
  font-family: "Bellefair";
  font-size: 16px;
  opacity: 50%;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.name {
  font-family: "Bellefair";
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.description {
  font-family: "Barlow";
  font-size: 15px;
  line-height: 150%;
  color: #d0d6f9;
  text-align: center;
  width: 93%;
  height: auto;
}

/* Tablet styles */
@media (min-width: 768px) {
  .details {
    padding: 2rem;
  }

  .term {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 18px;
    line-height: 180%;
    width: 90%;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .details {
    align-items: flex-start;
    text-align: left;
    padding-left: 50px;
  }

  .term {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .name {
    font-size: 56px;
    margin-bottom: 24px;
  }

  .description {
    font-size: 18px;
    line-height: 1.8;
    width: 470px;
    height: 200px;
  }
}
