/* Mobile-first styles */
.imageWrapper {
  max-width: 150px;
  width: 100%;
  height: auto;
  padding: 25px;
}

.imageWrapper img {
  width: 100%;
  object-fit: contain;
}

/* Tablet styles */
@media (min-width: 768px) {
  .imageWrapper {
    max-width: 300px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .imageWrapper {
    max-width: 480px;
  }

  .imageWrapper img {
    border: 1px solid rgb(151, 151, 151, 0.1);
    border-radius: 100%;
  }
}
