@import "tailwindcss";

@theme {
  --font-barlow: "Barlow";
  --font-barlow-condensed: "Barlow Condensed";
  --font-bellefair: "Bellefair";
}

@utility nav-li {
  @apply text-left relative;
}

@utility nav-link {
  @apply text-white font-barlow-condensed tracking-[2px] uppercase block hover:border-r-[3px] hover:border-r-white/50 md:py-[34px] md:hover:border-r-0 md:hover:border-b-[3px] md:hover:border-b-white/50;
}

@utility nav-num {
  @apply font-bold mr-3 tracking-[2.7px] inline;
}

@utility nav-active {
  @apply relative border-r-[3px] border-r-white md:border-r-0 md:border-b-[3px] md:border-b-white;
}
